@{
    ViewBag.Title = "Index";
}

<h2>SignalR Bug Repo</h2>

<p>
    JS Client falls back from SSE to LongPolling on Exception in Hub's OnConnected and enters Connected state, followed quickly by Disconnected.
</p>


<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.signalR-1.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    
    $(function () {
        var testHub = $.connection.testHub;

        testHub.client.hello = function (message) {
            $('#message').append('<li>' + message + '</li>');
        };
        
        $.connection.hub.disconnected(function () {
            console.log('Disconnected');
        });
        
        $.connection.hub.error(function (error) {
            console.log("hub error", error);
        });

        $.connection.hub.logging = true;
        $.connection.hub.start().done(function () {
            console.log('hub.start() done called');
            $('#send').click(function () {
                testHub.server.hello($('#msg').val());
            });
        }).fail(function() {
            console.log("hub.start() failed");
        });
    });

</script>
<input type="text" id="msg" value=" " />
<input type="button" id="send" value="send" />

<ul id="message">
</ul>